* {
    margin: 0px;
    padding: 0px;
}


.contenedor {
    background-color: pink;
    height: 100%;
    margin: auto;
    padding-bottom: 50px;
    padding: 20px;
}

.contenedor div {
    max-width: 1250px;
    margin: auto;
    margin: 20px;    
}

.verde {
    border: 5px solid green;
    background-color: greenyellow;
}

.naranja {
    border: 5px dashed orangered;
    background-color: orange;
}

.rojo {
    border: 5px dotted red;
    background-color: lightcoral;
}

h1 {
    padding: 40px;
    color: white;
    background-color: pink;
    text-align: center;
}

p {
    margin: 5px;
}