header {
  margin: 0px 0px 20px 0px;
  padding: 0px;
  width: 1280px;

  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0px;
  padding: 0px 0px 0px 5px;
  background-color: darkgray;
}

h2 {
  margin: auto;
  padding: 5px 10px 0px 0px;
  height: 35px;
  background-color: lightgrey;
  text-align: right;
  border-bottom: 2px darkgrey dashed;
}

main {
  display: flex;
}

.columna {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px dashed darkgrey;
  border-left: 1px dashed darkgrey;
  width: 150px;
  margin-left: 20px;
  padding: 10px;
}

.tarjeta {
  width: 145px;
  border: 1px solid black;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
}

h3 {
  height: 20px;
  text-align: center;
}

.cabeceraTarjeta {
  padding-right: 5px;
  background-color: darkslategrey;
  color: white;
  text-align: right;
}

.textoTarjeta {
  padding-left: 5px;
  padding-right: 5px;
}

p {
  padding: 5px;
  margin: 0px;
}
